body {
    background-color: #865DFF;
    text-align: center;
   
}

h1 {
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFA3FD;
}

p {
    color: #F7C8E0;
}

label {
    color: #FFA3FD; 
}

.deck {
    font-size: larger;
    font-weight: 400;
}
